

html, body,* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #FFF;
}

body{
  background-color: #141516;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: #fff;
}

.top_bar {
  width: 100%;
  background-color: #280D3D;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top_bar > img {
  width: 125px
}

.top_bar nav{
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
}

#user_settings{
  background-color: none;
  border: none;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}

.user_img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#user_modal{
  position: absolute;
  background-color: #222222;
  padding: 10px;
  transform: translateX(-65%);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  display: none;
}

#user_modal::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #222222;
  transform: rotateZ(45deg);
  position: absolute;
  top: -8px;
  left: 75%;
}

#user_modal .option{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;

}

.option p {
  margin: 0;
}

.content_wrapper{
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav_options{
  width: 25%;
  background-color: #222222;
  height: fit-content;
  padding: 10px 20px;
}

.nav_options .option {
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  cursor: pointer;
}

.workspace{
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workspace .note_card {
  width: 49%;
  background-color: #222222;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
}

.workspace .note_card h2 {
  color: #6e27a5;
}

.workspace .note_card p{
  font-size: 16px;
}

.settings_workspace{
  flex-direction: column;
}

.title_settings{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#idMail, #idPass, #idNewPass{
  background-color: #1c1e1f;
  border: 1px solid #726a5d;
  color: #d1cdc7;
  margin-bottom: 20px;
}

#idMail::placeholder, #idPass::placeholder, #idNewPass::placeholder{
  color: #696969;
}

.save{
  background-color: green;
  border: none;
  color: #FFF;
  padding: 3px 20px;
  border-radius: 5px;
}

.confirm_modal{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  padding: 10px;
  border-radius: 15px;
  background-color: #222222;
  display: none;
  flex-direction: column;
}

.confirm_modal h6 {
  width: 100%;
  text-align: center;
}

.confirm{
  background-color: green;
  border: none;
  color: #FFF;
  padding: 3px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.alert {
  color: #ea868f;
  background: #2c0b0e;
  border: 1px solid #842029;
  padding: 10px;
  transition: 1s;
}

#alert{
  display: none !important;
}

#alert.visible{
  display: flex !important;
}

#alert.animate{
  animation: alert 0.5s forwards;
}